
@import 'phonestrap-config.less';
@import 'reset.less';
@import 'phonestrap-transitions.less';
@import 'phonestrap-header.less';
@import 'phonestrap-content.less';

html, body, #viewport { 
	background-color:@contentBgColor;
	font-family:@mainFont;
	overflow:hidden;
	height: 100%;
	max-height: 100%;
}
