/* transitions times */
/* skins? */
#content {
  background-color: #eeeeee;
}
#content .page {
  -webkit-transition: all 0.5s;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #eeeeee;
}
html[data-ios7] #content .page {
  top: 60px;
}
