<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 
        
        phonestrap did it, so...
        -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        

        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/transitions.css">
        <link rel="stylesheet" href="styles/all.css">
        
    </head>
    <body>

        <div id="viewport">
            <section id="header">
                <h1><%= appname %></h1>
            </section>

            <section id="content"></section>
        </div>


        <script type="html/template" id="tpl-home">
            phonestrap is on !
        </script>
        
        
        <script type="text/javascript" src="cordova.js"></script>
        
        <script type="text/javascript" src="js/bower_comps/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/bower_comps/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="js/bower_comps/backbone/backbone.js"></script>
        <script type="text/javascript" src="js/bower_comps/backbone.marionette/lib/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="js/bower_comps/jquery-hammerjs/jquery.hammer-full.js"></script>

        <script src="js/app/views/homeVC.js"></script>   
        <script src="js/app/views/headerView.js"></script>   
        <script src="js/app/regions/headerRegion.js"></script>    
        <script src="js/app/regions/contentRegion.js"></script>   
        <script src="js/app/router.js"></script>  
        <script src="js/app/main.js"></script>

    </body>
</html>
